@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product_Management_System</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index" class="text-decoration-none heading">PMS</a>

        @if(SignInManager.IsSignedIn(User))
        {
            if(User.IsInRole("admin"))
            {
                <div class="nav-bar">
                    <a asp-controller="#" asp-action="#" class="text-decoration">Staff</a>
                    <a asp-controller="Product" asp-action="Index" class="text-decoration-none">Products</a>
                    <a asp-controller="Product" asp-action="Create" class="text-decoration-none">Create Product</a>
                </div>
            }else{
                <div class="nav-bar">
                    <a asp-controller="Product" asp-action="Index" class="text-decoration-none">Products</a>
                    <a asp-controller="Product" asp-action="Create" class="text-decoration-none">Create Product</a>
                </div>
            }
        }
        else{
            <div class="nav-bar">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Home</a>
            </div>
        }

        


        <partial name="_LoginPartial" />

        
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <p class="footer-p">
            &copy; 2025 - Product_Management_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
