@using Microsoft.AspNetCore.Identity
@using Product_Management_System.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav-bar">
@if (SignInManager.IsSignedIn(User))
{
    if(User.IsInRole("admin"))
        {
            <li class="nav-item dropdown role-style">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                    Admin
                </a>

                <ul class="dropdown-menu text-dark">
                    <li><a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }
        else if (User.IsInRole("staff"))
        {
            <li class="nav-item dropdown role-style">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                    Staff
                </a>

                <ul class="dropdown-menu text-dark">
                    <li><a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
