@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Staff Login</h2>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="float-end">
                    <a id="forgot-password" asp-page="./ForgotPassword" class="text-decoration-none">Forgot your password?</a>
                </div>

                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input asp-for="Input.RememberMe" class="form-check-input" />
                        @Html.DisplayNameFor(a => a.Input.RememberMe) <!-- Displays it's title -->
                    </label>
                </div>

                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>

                
                <p class="text-center mt-2">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Don't have an account?</a>
                </p>
                
            </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
